<div>
    <div class="form-group">
        <label for="newtodo">New todo</label>
        <input class="form-control" id="newtodo" placeholder="Novo todo" ng-model="m.newtodo">
    </div>
    <button ng-click="m.add()">Add</button>
    <div ng-if="m.adding" class="progress-bar progress-bar-striped active" style="width: 100%">adding...</div>
    <ul class="todo">
        <li ng-repeat="todo in m.todos">
            <span>{[{todo.description}]}</span>
            <button ng-click="m.remove(todo)">Remove</button>
        </li>
    </ul>
</div>
