<div>
    <div>
        <input type="text" ng-model="m.searchform.text" ng-keypress="$event.keyCode == 13 && m.search()">
        <span ng-show="m.loading">loading...</span>
    </div>
    <div>
        <table>
            <tr>
                <th>Project</th>
                <th>Title</th>
            </tr>
            <tr ng-repeat="issue in m.issues">
                <td>{[{issue.project_name}]}</td>
                <td>{[{issue.title}]}</td>
            </tr>
        </table>
    </div>
</div>
