<div>
  <ul class="nav nav-sidebar" ng-repeat="category in m.categories | orderBy: 'name' ">
    <li ng-click="m.toggle_open(category)">
      <span>{[{category.name}]}</span>
      <span ng-hide="category.open">(+)</span>
      <span ng-show="category.open">(-)</span>
    </li>
    <li ng-show="category.open" 
        ng-class="{active: component == m.active_component}"
        ng-repeat="component in m.components | filter: by_category(category.name) | orderBy: 'name'"
        >
      <a href="#/{[{component.category}]}/{[{component.title}]}">{[{component.title}]}</a>
    </li>
  </ul>
</div>
