<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Djangular3 Single Page Application</title>

        <link rel="stylesheet" href="/static/css/lib.css">
        <link rel="stylesheet" href="/static/css/app.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="/static/js/lib.js"></script>
        <!--APPJS-->
        <script src="/static/js/app.js"></script>
        <!--APPJS END-->
    </head>

    <body ng-app="app_main" ng-controller="AppMainCtrl">
        {% csrf_token %}
        <!-- Fixed navbar -->
        <apptoolbar></apptoolbar>
        <div ui-view></div>
    </body>
</html>
