<div class="md-toolbar-tools">
    <h1><a ui-sref="home">FreedomSponsors</a></h1>
    <a class="md-button" ui-sref="listprojects"> Projects </a>
    <a class="md-button" ui-sref="search"> Search </a>
    <a class="md-button" href> etc </a>
    <span flex></span>
    <a class="md-button" ui-sref="viewuser({login: auth.user.username})" ng-if="auth.authenticated()"> {[{auth.user.username}]} <a>
    <a class="md-button" hreff ng-click="auth.logout()" ng-if="auth.authenticated()"> Logout <a>
    <a class="md-button" ui-sref="login" ng-if="!auth.authenticated()"> Login </a>
</div>
